html, body {
    height: 100vh;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}
 main{
    flex: 1;
 }

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

header {
    background-color: #4ca0af;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #45919e;
}

nav a:hover {
    background-color: #3a7b8c;
}

section {
    padding: 20px;
    margin: 20px 100px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-home {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    background-color: #74aeb6;
}

.container-corriculo {
    background-color: #4ca0af;
    width: auto;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

form input[type="radio"]{
    margin: 2px 10px;
}
    

footer {
    background-color: #4ca0af;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}